[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/gopal-reddy
[access "refs/for/refs/*"]
	read = group user/gopal-reddy
	push = group user/gopal-reddy
	label-Code-Review = -2..+2 group user/gopal-reddy
	label-Verified = -1..+1 group user/gopal-reddy
	rebase = group user/gopal-reddy
	removeReviewer = group user/gopal-reddy
	submit = group user/gopal-reddy
[access "refs/heads/*"]
	read = group user/gopal-reddy
	create = group user/gopal-reddy
	push = +force group user/gopal-reddy
	pushMerge = group user/gopal-reddy
[access "refs/tags/*"]
	push = group user/gopal-reddy
	push = +force group user/gopal-reddy
